.contact {
    width: 90%;
    margin: 2rem auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.contact-text {
    font-size: 130%;
    margin: 1rem 0;
}

.contact-text p {
    margin: 1rem 0;
    margin-right: 1.5rem;
}

.form-container {
    min-height: 30rem;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.contact-form {
    margin: 0.5rem 0;
    height: 19rem;
}

.data-group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.2rem;
}

.message-group {
    width: 100%;
    justify-content: left;
    display: block;
}

.input-class {
    margin-bottom: 1rem;
}

.input-class label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.input-class input {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.4rem 0px;
    width: 100%;
    max-width: 100%;
    text-indent: 8px;
}

.input-class textarea {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 100%;
    text-indent: 8px;
    padding-top: 5px;
}

.advertisement {
    margin-top: 0.8rem;
    font-size: 0.8rem;
}

.actions {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

.actions button {
    width: 99.72px;
    height: 39px;
    font: inherit;
    color: #000;
    cursor: pointer;
    background-color: transparent;
    border: solid 1px;
    border-radius: 25px;
    padding: 0.5rem 1.2rem;
}

.actions button:hover {
    background-color: #282c34f1;
    color: rgb(240, 240, 240);
}

.actions button span {
    margin-left: 0.5rem;
}

.error-text {
    font-size: 0.8rem;
    color: red;
}

.invalid button{
    cursor: not-allowed;
}

/* Tiny devices (portrait phones, less than 576px) */
@media screen and (max-width: 576px){
    .contact {
        display: grid;
        grid-template-columns: 1fr;
    }

    .form-container {
        min-height: 32rem;
    }

    .contact-text h2 {
        text-align: center;
    }
    
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px){
    .contact {
        display: grid;
        grid-template-columns: 1fr;
    }

    .form-container {
        min-height: 32rem;
    }

    .contact-text h2 {
        text-align: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .contact {
        display: grid;
        grid-template-columns: 1fr;
    }

    .form-container {
        min-height: 31rem;
    }

    .contact-text h2 {
        text-align: justify;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .contact {
        display: grid;
        grid-template-columns: 2fr 4fr;
    }

    .form-container {
        min-height: 30rem;
    }
    
}