.footer {
    width: 90%;
    margin: 2rem auto;
    justify-content: center;
    text-align: center;
}

.footer h5 {
    border-bottom: solid 2px #282c34;
    padding-bottom: 1%;
}

.icons {
    margin-top: 1%;
    font-size: 30px;
}

.icons svg {
    margin: 0 30px;
    color: rgb(0, 0, 0);
}

/* Tiny devices (portrait phones, less than 576px) */
@media screen and (max-width: 576px) {
    .footer {
        width: 100%;
        margin: auto;
    }
    .icons {
        font-size: 20px;
        overflow: hidden;
        display: flex;
    }

    .icons svg {
        margin: 0 20px;
        color: rgb(0, 0, 0);
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
    .icons {
        display: block;
    }
}